body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
 
  div{
    background: #391f98;
    color: white;
    padding: 60px;
    border-radius: 20px;
    margin-top: 36px;
    width: 400px;
    text-align: center;
    font-size: 20px;
    gap: 10px;

  }
  button{
    margin-top: 20px;
    padding: 10px;
    background: #391f98;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font: bold;

  }
  button:hover{
    background: #03b872;
    transition: transform 0.3s ease;
  }

  p{
    margin: 0;
    padding: 10px;
    font-size: 18px;
    word-spacing: 2px;
    line-height: 25px;
    margin-top: 16px;
  }

  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 34px;
  }
  @media screen  and (max-width: 480px) {
    
    P{
      font-size: 20px;
  margin-left: 5px 5px;
  padding: 0 1px;
      
    } }
    
    @media screen  and (max-width: 480px) {
      div{
        width: 300px;
        padding: 30px;
      }
      
    }
    @media screen  and (max-width: 480px) {
      header{
        padding: 8px;
        font-size: 14px;
        flex: 1;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 34px;
      }
      
    }